# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# NodeJS specific
node_modules/
platforms/
plugins/

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ IDEA
.idea
*.iml
out

*.sc
